# check-kano-safe-mode.service
#
# Copyright (C) 2018 Kano Computing Ltd.
# License: http://www.gnu.org/licenses/gpl-2.0.txt GNU GPL v2
#
# TODO


[Unit]
Description=Check Kano Safe Mode
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/sudo /usr/bin/check-kano-safe-mode

[Install]
WantedBy=boot-splash-start.service
