# kano-safe-mode-sound-loop.service
#
# Copyright (C) 2018 Kano Computing Ltd.
# License: http://www.gnu.org/licenses/gpl-2.0.txt GNU GPL v2
#
# A sound loop that runs throughout a Safe Mode boot.


[Unit]
Description=Safe Mode Sound Loop
DefaultDependencies=no
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/kano-safe-mode-sound-loop
Restart=always
RestartSec=10

[Install]
WantedBy=kano-safe-mode.target
